@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100&family=Fragment+Mono&display=swap');

html, body {
    min-height: 100vh;
}

html {
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-size: cover;
    background-image: url("bgs/bg4k.png");
    font-family: 'Fragment Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Doto', monospace;
}

a {
    color: inherit;
    text-decoration: dotted underline;
}

#center {
    margin: auto;
}

#header {
    top: 0;
    z-index: 1;
    display: flex;
    margin-left: 0;
    text-align: left;
    position: sticky;
    max-width: 100vw;
    padding: 1px 10px 1px 10px;
    background-color: #2222224a;
    border-bottom: 1px solid #222;
    box-shadow: 0px -50px 70px white;

    -webkit-backdrop-filter: blur(25px);
    -webkit-transform: translate3d(0, 0, 0);
    
    backdrop-filter: blur(25px);
    transform: translate3d(0, 0, 0);
}

#item {
    width: fit-content;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #333;
}

#content {
    z-index: -1;
    padding: 5px;
    font-size: 9pt;
    max-width: 700px;
    margin: -1px auto 10px auto;
    border: 1px solid #222;
    background-color: transparent;
}

@media (max-width: 700px) {
    #content { 
        border: 1px solid transparent;
    }
}

@media (max-width: 2000px) {
    body {
        background-image: url("bgs/bgfhd.png");
    }
}